Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  {% if 'workers' in group_names %}
  --api-servers=http://172.16.50.11:8080,http://172.16.50.12:8080 \
  --register-node=true \
  --register-schedulable=true \
  --require-kubeconfig=true \
  {% endif %}
  {% if 'managers' in group_names %}
  --register-schedulable=false \
  {% endif %}
  --address={{ ansible_enp0s8.ipv4.address }} \
  --pod-manifest-path=/etc/kubelet.d \
  --cloud-provider= \
  --cluster-dns={{ DNS_SERVICE_IP }} \
  --cluster-domain=cluster.local \
  --container-runtime=docker \
  --docker=unix:///var/run/docker.sock \
  --cni-conf-dir=/etc/cni/net.d \
  --network-plugin=cni \
  --cni-bin-dir=/opt/cni/bin \
  --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
  --reconcile-cidr=true \
  --serialize-image-pulls=false \
  --tls-cert-file=/etc/kubernetes/ssl/host-{{ ansible_hostname }}.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/host-{{ ansible_hostname }}-key.pem \
  --v={{ loglevel }}


Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target