[Service]
ExecStart=
ExecStart=/usr/bin/dockerd \
          --insecure-registry={{ hostvars[groups['managers'][0]]['ansible_hostname'] }}:5000 \
          --iptables=false \
          --ip-masq=false 