Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  {{ api_servers }} \
  --pod-manifest-path=/etc/kubelet.d \
  --cloud-provider= \
  --cluster-dns=10.32.0.10 \
  --cluster-domain=cluster.local \
  --container-runtime=docker \
  --docker=unix:///var/run/docker.sock \
  --network-plugin=kubenet \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --reconcile-cidr=true \
  --serialize-image-pulls=false \
  --tls-cert-file=/etc/certs/host-{{ ansible_hostname }}.pem \
  --tls-private-key-file=/etc/certs/host-{{ ansible_hostname }}-key.pem \
  --v=2


Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target