apiVersion: v1
kind: Pod
metadata: 
  name: etcd
spec: 
  hostNetwork: true
  containers: 
    - name: "etcd"
      image: "{{ hostvars[groups['managers'][0]]['ansible_hostname'] }}:5000/quay.io/coreos/etcd:{{ etcd_version }}"
      env:
        - name: ETCD_ADVERTISE_CLIENT_URLS
          value: https://{{ ansible_enp0s8.ipv4.address }}:2379
        - name: ETCD_INITIAL_ADVERTISE_PEER_URLS
          value: https://{{ ansible_enp0s8.ipv4.address }}:2380
        - name: ETCD_INITIAL_CLUSTER
          value: "manager1=https://{{ hostvars[groups['managers'][0]]['ansible_enp0s8']['ipv4']['address'] }}:2380"
        - name: ETCD_INITIAL_CLUSTER_STATE
          value: new
        - name: ETCD_LISTEN_CLIENT_URLS
          value: "https://0.0.0.0:2379"
        - name: ETCD_LISTEN_PEER_URLS
          value: "https://0.0.0.0:2380"
        - name: ETCD_NAME
          value: {{ ansible_hostname }}
        - name: ETCD_PEER_AUTO_TLS
          value: "true"
        - name: ETCD_CERT_FILE
          value: /etc/kubernetes/ssl/host-{{ ansible_hostname }}.pem
        - name: ETCD_KEY_FILE
          value: /etc/kubernetes/ssl/host-{{ ansible_hostname }}-key.pem
        - name: ETCD_CLIENT_CERT_AUTH
          value: "false"
        - name: ETCD_TRUSTED_CA_FILE
          value: /etc/kubernetes/ssl/ca.pem
        - name: ETCD_INITIAL_CLUSTER_TOKEN
          value: cluster-1
        - name: ETCD_DATA_DIR
          value: /var/etcd
      ports:
        - name: client
          containerPort: 2379
          protocol: "TCP"
        - name: peer
          containerPort: 2380
          protocol: "TCP"
      resources:
        limits:
          cpu: "1000m"
          memory: "256Mi"
      volumeMounts:
        - mountPath: /etc/kubernetes/ssl
          name: ssl-certs-kubernetes
          readOnly: true
        - mountPath: /var/etcd
          name: etcd-data
  volumes:
    - hostPath:
        path: /etc/kubernetes/ssl
      name: ssl-certs-kubernetes
    - hostPath:
        path: /var/etcd
      name: etcd-data
